@using Blazor.Diagrams.Components.Renderers;
@using BlazorApp1.Models

<div class="mud-node default-node @(Node.Selected ? "selected" : "")" style=@GenerateStyle()>

    <MudCard Outlined="false" Elevation="0" Style=@GetCardStyle() Class="mud-card" >
        <MudCardHeader Class="@(Node.Selected ? "mud-node-title-selected" : "")">
            <CardHeaderContent>
                <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="1">
                    @if (!string.IsNullOrEmpty(Node.Icon))
                    {
                        <MudIcon Icon="@Node.Icon" 
                                 Color="@GetIconColor()" 
                                 Size="MudBlazor.Size.Small" />
                    }
                    <MudText Typo="Typo.body2">@(Node.Title ?? "Title")</MudText>
                </MudStack>
                @if (!string.IsNullOrEmpty(Node.Description))
                {
                    <MudText Typo="Typo.caption" Class="mt-1">@Node.Description</MudText>
                }
            </CardHeaderContent>
        </MudCardHeader>

        @foreach (var port in Node.Ports)
        {
            <PortRenderer @key="port" Port="port" />
        }
    </MudCard>
</div>

@code {
    [Parameter] public MudNodeModel Node { get; set; } = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        // set min size and default size...
        Node.MinimumDimensions = new(60, 45);
        if (Node.Size == null
         || Node.Size.Width < Node.MinimumDimensions.Width
         || Node.Size.Height < Node.MinimumDimensions.Height)
            Node.Size = new(120, 80);
    }

    private string GenerateStyle()
    {
        var card = GetCardStyle();
        if (Node.Size is not null)
        {
            return $"width:{Node.Size.Width}px; height:{Node.Size.Height}px; {card}";
        }
        return string.Empty;
    }

    private string GetCardStyle()
    {
        var styles = new List<string>();

        if (!string.IsNullOrEmpty(Node.BackgroundColor))
        {
            styles.Add($"background-color:{Node.BackgroundColor}");
        }

        if (styles.Any())
        {
            return string.Join("; ", styles);
        }

        return string.Empty;
    }

    private MudBlazor.Color GetIconColor()
    {
        if (!string.IsNullOrEmpty(Node.IconColor))
        {
            return Node.IconColor.ToLower() switch
            {
                "primary" => MudBlazor.Color.Primary,
                "secondary" => MudBlazor.Color.Secondary,
                "success" => MudBlazor.Color.Success,
                "info" => MudBlazor.Color.Info,
                "warning" => MudBlazor.Color.Warning,
                "error" => MudBlazor.Color.Error,
                "dark" => MudBlazor.Color.Dark,
                _ => MudBlazor.Color.Default
            };
        }
        return MudBlazor.Color.Default;
    }
}
